html {
  position: relative;
  min-height: 100%;
}

body {
  color: #999999;
}

time,p {
  color: #666666;
}

header {
  z-index: 999;
  margin: 0;
  position: fixed;
  margin-top: -230px;
  width: 100%;
  border-bottom: 30px solid #00e77b;
  background-color: #a7f04b;
  height: 60px;
  box-shadow: 0 0 0 10px rgba(150,150,150,0.5);
}

header a {
  display: block;
}

header h1 {
  margin: 0 auto;
  width : 300px;
  height : 203px;
}

header h2 a {
  position: absolute;
  top: 10px;
  right: 10px;
  width : 125px;
  height : 126px;
}

article {
  margin-top: 230px;
  margin-bottom: 60px;
}

.article {
  margin: 10px auto;
  width: 690px;
  height: 690px;
  border: 2px solid #999999;
  border-radius: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.article div {
  padding: 20px 30px;
  height: 60px;
  line-height: 25px;
  margin-top: -100px;
  position:relative;
  clear: both;
  background-color: rgba(255, 255, 255, 0.6);
}

.article img {
  width: 690px;
  height: 690px;
}

footer {
  font-size: 12px;
  position:absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

@media screen and (min-width: 1000px) {
  article{
    width: 1000px;
    margin: 230px auto 0;
  }
  .article {
    width: 300px;
    height: 300px;
    float: left;
    margin: 14px 14px 15px 15px;
  }
  .article:last-child{
    margin-bottom: 100px;
  }
  .article div {
    padding: 10px 15px;
    height: 60px;
    line-height: 25px;
    margin-top: -74px;
  }
  .article img {
    width: 300px;
    height: 300px;
  }
}
